{% load static %}

<div class="activity-bar w-12 py-2 px-2 h-screen fixed left-0 top-0 flex flex-col justify-between">
    <section>
        <button class="w-8 h-8 outline-none border-0 flex items-center justify-center text-xl" onclick="reset()" title="New">
            <i class="far fa-file outline-none"></i>
        </button>
        {% if snippet %}
        <a href="/?clone={{ snippet.urn }}">
        <button class="w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl disabled" title="Copy & Edit">
            <i class="far fa-copy"></i>
        </button>
        </a>
        <a href="/{{ snippet.urn }}/raw/">
            <button class="w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl disabled" title="Raw">
                <i class="fas fa-code"></i>
            </button>
        </a>
        <button class="w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl disabled" onclick="saveImage()" title="Image">
            <i class="far fa-image"></i>
        </button>
        {% else %}
               <button class="relative w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl" title="Save" id="save">
            <i class="far fa-save outline-none"></i>
        </button>
        <button class="w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl" title="Preview your snippet"
            aria-label="Preview" id="preview">
            <i class="far fa-eye outline-none"></i>
        </button>
         
        {% endif %}
    </section>
    <section>
        <button class="w-8 h-8 outline-none border-0 flex items-center justify-center mt-2 text-xl" title="Enable Light Mode"
            aria-label="Preview" id="light-dark-toggle" onclick="toggleDarkMode()">
            <i class="fas fa-sun"></i>
        </button>
        <img id="snip-logo" src="{% static 'imgs/logo-light.png' %}" class="w-8 h-8 outline-none border-0">
    </section>
</div>