{% extends 'layout/base.html' %}

{% block content %}

<div class="editor ml-12 px-2 py-2 h-full flex relative">
    <div class="min-h-screen w-1/2 flex" id="preview-holder">
        <div class="h-full flex relative">
            <ul id="previewLines" class="w-8 text-sm text-right">
                <li class="py">1</li>
            </ul>
            <pre class="ml-3 pl-2"><code id="output" class="text-sm break-words">{{ snippet.content|safe }}</code></pre>
        </div>
    </div>
    <!--<pre><code class="text-sm " contenteditable="true"></code></pre>-->
</div>

{% endblock %}

{% block script %}

<script>
    let output = document.getElementById('output');

    let plines = document.getElementById('previewLines');


    output.className = "text-sm break-words";
    hljs.initHighlighting.called = false;
    hljs.initHighlighting();
    plines.innerHTML = "";
    let counts = output.innerText.lineCount() + 1;
    for (x = 1; x < counts; x++) {
        let li = document.createElement('li');
        li.innerText = x;
        plines.append(li);
    }
</script>

{% endblock %}