{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Sharing Platform</title>
    <link rel="stylesheet" href="{% static 'vendor/tailwind/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/night-owl.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="{% static 'css/overrides.css' %}" rel="stylesheet">
</head>

<body class="editor">
    {% include 'partials/activitybar.partial.html' %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'vendor/highlightjs/highlight.pack.js' %}"></script>
    <script src="{% static 'vendor/axios/axios.min.js' %}"></script>
    <script>
        String.prototype.lines = function () {
            return this.split(/\r*\n/);
        }
        String.prototype.lineCount = function () {
            return this.lines().length;
        }
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>